.title-container {
  width: 620px;
  height: 344px;
  border-radius: 16px;
  padding: 32px 28px 32px 28px;
  margin-top: 20px;
  background-color: var(--white);
  gap: 10px;
}

.header-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header-top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.sub-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  width: 564px;
}

.sheader-button button {
  max-width: 100%;
}

.modal-container {
  position: fixed;
  display: flex;
  z-index: 1000;
  margin-left: 170px;
}

.modal-section {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-button {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.cancel-button {
  background: var(--gray-bright);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.confirm-button {
  background: var(--violet);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .title-container {
    width: 544px;
  }

  .modal-container {
    margin-left: 130px;
  }
}

@media screen and (max-width: 743px) {
  .title-container {
    width: 284px;
    height: 312px;
    border-radius: 8px;
    padding: 20px 16px 20px 16px;
  }

  .header-section {
    gap: 32px;
  }

  .modal-container {
    margin-left: -5px;
  }
}
