.user-profile {
  display: flex;
  align-items: center;
}

.user-img {
  position: relative;

  flex-shrink: 0;

  width: 38px;
  height: 38px;
  overflow: hidden;

  border-radius: 100%;
}

.user-img > div {
  width: 100%;
  height: 100%;
}

.user-img img,
.user-img svg {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.user-nickname {
  flex-shrink: 0;
  margin-left: 12px;

  font-weight: 400;
}

.dashboard-detail .user-img {
  width: 24px;
  height: 24px;
}

.todo-detail .user-img {
  width: 34px;
  height: 34px;
}

.todo-detail .user-nickname {
  font-size: 14px;
}

.todo-create .user-img {
  width: 26px;
  height: 26px;
}

@media screen and (max-width: 743px) {
  .user-img {
    width: 34px;
    height: 34px;
  }

  .user-nickname {
    margin-left: 8px;

    font-size: 14px;
  }

  .header .user-nickname {
    display: none;
  }

  .dashboard-detail .user-img {
    width: 22px;
    height: 22px;
  }

  .todo-detail .user-img {
    width: 26px;
    height: 26px;
  }

  .todo-detail .user-nickname {
    font-size: 12px;
  }
}
