.input-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 100%;
}

.input-title {
  font-family: 'Pretendard';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #333236;

  @media screen and (max-width: 743px) {
    font-size: 14px;
    line-height: 24px;
  }
}

.input {
  height: 110px;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  padding: 16px;
  resize: none;
}

.input::placeholder {
  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 14px;
  color: #9fa6b2;

  @media screen and (max-width: 743px) {
    font-size: 12px;
  }
}

.button {
  position: absolute;
  right: 12px;
  bottom: 12px;
}
