.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.box {
  display: flex;
  align-items: center;
  gap: 2px;
}

.box-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: var(--black-medium);

  @media screen and (max-width: 743px) {
    font-size: 14px;
    line-height: 24px;
  }
}

.box-dot {
  font-weight: 500;
  font-size: 16px;
  color: var(--violet);

  @media screen and (max-width: 743px) {
    font-size: 14px;
  }
}

.input {
  height: 50px;
  border: 1px solid var(--gray-medium);
  border-radius: 8px;
  padding: 12px 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--black-dark);

  @media screen and (max-width: 743px) {
    font-size: 14px;
  }
}

.input::placeholder {
  color: var(--gray-dark);
  font-family: 'Pretendard';
}
