.chip-section {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

.status {
  flex-shrink: 0;
}

.status > span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.status > span > span {
  flex-shrink: 0;
}

.status .status-text {
  max-width: 80px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bar {
  width: 1px;
  height: 20px;

  margin: 0 20px;

  background-color: var(--gray-medium);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

@media screen and (max-width: 1199px) {
  .chip-section {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 743px) {
  .bar {
    margin: 0 12px;
  }

  .tags {
    gap: 8px;
  }
}
