.container {
	display: flex;
	flex-direction: column;
	font-family: 'Pretendard';
  margin-bottom: 40px;
}

.main_container {
	margin-top: 90px;
	margin-left: 320px;
}

.main_section {
	display: flex;
  flex-direction: column;
	gap: 24px;
}

.button {
	margin-top: 10px;
}

@media screen and (max-width: 1199px) {
	.main_container {
		margin-left: 180px;
	}
}

@media screen and (max-width: 743px) {
	.main_container {
		margin-left: 79px;
	}
}