.container {
	display: flex;
	flex-direction: column; /* 세로 정렬 */
	font-family: 'Pretendard';
}

.main_container {
	margin-top: 90px;
	margin-left: 320px;
}

.main_section {
	display: flex;
  flex-direction: column;

}

@media screen and (max-width: 1199px) {
	.main_container {
		margin-left: 180px;
	}
}

@media screen and (max-width: 743px) {
	.main_container {
		margin-left: 79px;
	}
}