.modal-section {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;

  background: var(--white);
  border-radius: 8px;
}

.top {
  display: flex;
  flex-direction: row;
}

.title {
  margin: 0;

  font-size: 24px;
  font-weight: 700;
  color: var(--black-medium);
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;

  background: none;
  border: none;

  cursor: pointer;
}

.cancel-button {
  width: 36px;
  height: 36px;
}

@media screen and (max-width: 743px) {
  .modal-section {
    padding: 24px 16px;
  }

  .title {
    font-size: 20px;
  }

  .close-button {
    top: 28px;
    right: 16px;
  }

  .cancel-button {
    width: 24px;
    height: 24px;
  }
}
