.signin-container {
  margin: 223px auto 158px auto;

  width: 520px;
}

.logo {
  margin: 0 auto;

  width: 200px;
  height: 280px;
}

.logo svg {
  width: 100%;
  height: 100%;
}

.text {
  margin: 10px 0 30px;

  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: var(--black-medium);
  text-align: center;
}

.link-text {
  margin-top: 24px;

  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.link-text a {
  color: var(--violet);
  text-decoration: underline;
}

@media screen and (max-width: 743px) {
  .signin-container {
    margin: 89px auto;

    width: 350px;
  }

  .text {
    margin: 8px 0 36px;

    font-size: 18px;
    line-height: 26px;
  }
}
