.container {
  display: flex;
  background-color: var(--gray-background);
  min-width: 371px;
}

.space {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.box {
  margin-left: 280px;

  @media screen and (max-width: 1199px) {
    margin-left: 160px;
  }
  @media screen and (max-width: 743px) {
    margin-left: 67px;
  }
}
