.main-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  font-family: 'Pretandard';
}

.title {
  text-align: start;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.41px;
}

.main-section {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.card-container {
  background-color: var(--black-dark);
  border-radius: 8px;
  width: 378px;
  overflow: hidden;
}

.card-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-bright);
  height: 260px;
}

.card-image {
  width: 300px;
  height: auto;
}

.text-section {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-left: 32px;
  padding-top: 33px;
  padding-bottom: 33px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.text-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.48px;
}

.text-explanation {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.09px;
}

@media screen and (max-width: 1199px) {
  .main-section {
    width: 100%;
    flex-direction: column;
    gap: 35px;
  }

  .card-container {
    width: 378px;
  }

  .title {
    text-align: center;
  }
}

@media screen and (max-width: 743px) {
  .main-section {
    gap: 30px;
  }

  .card-container {
    width: 343px;
  }

  .title {
    font-size: 22px;
    line-height: 26.25px;
  }

  .card-image {
    width: 260px;
  }
}
