.main_container {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 90px;
  color: var(--white);
  margin-top: 160px;
}

.main_section {
	background-color: var(--black-dark);
  border-radius: 8px;
  width: 1200px;
  height: 600px;
}

.main_contentsection {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 103px;
  margin-left: 60px;
	font-family: 'Pretendard';
}

.main_text {
	display: flex;
  flex-direction: column;
  align-items: start;
  gap: 100px;
	font-family: 'Pretendard';
}

.main_title {
	font-size: 22px;
  color: var(--gray-dark);
  font-weight: 500;
  margin-top: 20px;
}

.main_explanation {
	font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}

.main_imgsection {
	display: flex;
  justify-content: end;
}

.main_image {
	width: 594px;
	height: 497.49px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media screen and (max-width: 1199px) {
	.main_container {
		margin-bottom: 30px;
	}

	.main_section {
		width: 684px;
    height: 840px;
	}

	.main_contentsection {
		flex-direction: column;
    gap: 150px;
    margin-top: 50px;
	}

	.main_text {
    gap: 61px;
    margin: 0 58px;
	}

	.main_explanation {
		font-size: 36px;
    line-height: 50px;
	}

	.main_image {
		width: 519.39px;
		height: 435px;
	}
}

@media screen and (max-width: 743px) {
	.main_section {
		width: 343px;
		height: 686px;
	}

	.main_contentsection {
		gap: 45px;
		flex-direction: column; 
	}

	.main_text {
    align-items: center; 
    text-align: center; 
  }

	.main_title {
		margin-right: 8px;
		font-size: 18px;
	}

	.main_explanation {
		margin-right: 30px;
		font-size: 36px;
	}
}