.main-container {
	font-family: 'Pretendard';
	display: flex;
  flex-direction: column;
  gap: 90px;
  color: var(--white);
  margin-top: 160px;
	justify-content: center;
  align-items: center;
}

.main-section {
	background-color: var(--black-dark);
  border-radius: 8px;
  width: 1200px;
  height: 600px;
}

.main-contentsection {
	display: flex;
  justify-content: space-between;
  margin-top: 103px;
	gap: 0;
}

.main-text {
	display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 100px;
}

.main-title {
  color: var(--gray-dark);
	font-size: 22px;
	line-height: 26.25px;
  font-weight: 500;
  margin-top: 20px;
	margin-left: 50px;
}

.main-explanation {
	margin-left: 50px;
	font-size: 48px;
  font-weight: 700;
  line-height: 64px;
	text-align: start;
}

.main-imgsection {
	display: flex;
  justify-content: flex-end;
}

.main-image {
	width: 594px;
	height: 497.49px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.main-reverse-section {
	background-color: var(--black-dark);
  border-radius: 8px;
  width: 1200px;
  height: 600px;
}

.main-reverese-contentsection {
	display: flex;
	justify-content: space-between;
  gap: 100px;
	font-family: 'Pretendard';
}

.main-reverse-imgsection {
	display: flex;
  justify-content: flex-start;
}

.main-reverse-img {
	margin-top: 90px;
	margin-left: 90px;
	width: 436px;
  height: 502px;
  border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.main-reverse-text {
	display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 100px;
	font-family: 'Pretendard';
}

.main-reverse-title {
  color: var(--gray-dark);
	font-size: 22px;
  font-weight: 500;
	line-height: 26.25px;
  margin-top: 100px;
	margin-right: 500px;
}

.main-reverse-explanation {
	margin-right: 200px;
	font-size: 48px;
  font-weight: 700;
  line-height: 64px;
	text-align: start;
}

@media screen and (max-width: 1199px) {
	.main-container {
		margin-bottom: 30px;
	}

	.main-section {
		width: 684px;
    height: auto;
	}

	.main-contentsection {
		flex-direction: column;
    gap: 150px;
		margin-left: 60px;
    margin-top: 0px;
	}

	.main-text {
    gap: 61px;
	}

	.main-title {
		margin-left: 0;
	}

	.main-explanation {
		margin-left: 0;
		font-size: 36px;
    line-height: 50px;
	}

	.main-image {
		width: 519.39px;
		height: 435px;
	}

	.main-reverse-section {
		width: 684px;
    height: auto;
	}

	.main-reverese-contentsection{
		flex-direction: column-reverse;
    gap: 150px;
		margin-right: 0px;
    margin-top: 0px;
	}

	.main-reverse-imgsection {
		justify-content: center;
	}

	.main-reverse-img {
		margin: 0 auto;
		width: 380.44px;
		height: 415px;
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
	}

	.main-reverse-text {
		margin-left: 80px;
    gap: 61px;
	}

	.main-reverse-explanation {
		font-size: 36px;
    line-height: 50px;
	}
}

@media screen and (max-width: 743px) {
	.main-section {
		width: 343px;
	}

	.main-contentsection {
		gap: 45px;
		margin-left: 0;
	}

	.main-text {
		align-items: center;
    gap: 61px;
    margin: 0 58px;
  }

	.main-title {
		font-size: 18px;
		line-height: 21.48px;
	}

	.main-explanation {
		font-size: 36px;
		text-align: center;
    line-height: 50px;
	}

	.main-image {
		width: 296.11px;
		height: 248px;
	}

	.main-reverse-section {
		width: 343px;
	}
	
	.main-reverse-img {
		margin: 0 auto;
		width: 217.13px;
		height: 250px;
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
	}
	.main-reverse-text {
		margin: 0;
		align-items: center;
	}

	.main-reverse-title {
		margin-right: 0;
		font-size: 18px;
		line-height: 21.48px;
		text-align: center; 
	}

	.main-reverse-explanation {
		margin: 0;
		font-size: 36px;
		line-height: 50px;
		text-align: center;
	}
}