.nav-container {
	display: flex;
  justify-content: center;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  max-width: 1920px;
  padding: 15px 80px 15px 80px;
  font-family: 'Pretendard';
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--white);
}

.logo {
	width: 35px;
	height: 35px;
  cursor: pointer;
}

.textlogo {
	width: 80px;
	height: 22px;
	margin-bottom: 6px;
  cursor: pointer;
}

.link-container {
  display: flex;
  gap: 36px;
}

@media screen and (max-width: 1199px) {
  .nav-section {
    padding: 15px 40px 15px 40px;
  }

  .nav-section {
    margin: 0 40px;
    font-size: 16px;
  }
}

@media screen and (max-width: 743px) {
  .nav-section {
    padding: 0px 24px 0px 24px;
    font-size: 14px;
    height: 60px;
  }

  .logo {
    width: 23.63px;
    height: 27.13px;
  }

  .textlogo {
    display: none;
  }

  .link-container {
    gap: 20px;
  }
}
