.tags {
  max-width: 100%;
  flex-wrap: wrap;
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.tags:empty {
  display: none;
}

.tag {
  max-width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  word-break: break-word;
}

.delete-button {
  cursor: pointer;
  flex-shrink: 0;
}
