.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 70px;

  border-bottom: 1px solid var(--gray-medium);
  background-color: var(--white);
  padding: 0 80px 0 40px;
  margin-left: 300px;
}

.title {
  position: relative;

  padding-right: 28px;
  margin-right: 40px;
  flex-shrink: 1;

  font-size: 20px;
  font-weight: 700;
  color: var(--black-medium);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title.createdByMe::after {
  content: '';

  position: absolute;
  top: 0;
  right: 0;

  display: inline-block;

  width: 20px;
  height: 17px;

  background-image: url('/ic/ic_crown.svg');
  background-size: 100%;
}

.right-nav {
  display: flex;
  flex-shrink: 0;
}

.left-section {
  position: relative;

  display: flex;
  align-items: center;
  flex-shrink: 0;

  margin-right: 72px;
}

.left-section::before {
  content: '';

  flex-shrink: 0;

  position: absolute;
  top: 0;
  right: -36px;

  width: 1px;
  height: 38px;

  background-color: var(--gray-medium);
}

.left-section button {
  flex-shrink: 0;
}

.dropdown div > ul {
  top: 50px;
  right: -10px;
}

@media screen and (max-width: 1199px) {
  .navbar {
    padding: 0 32px 0 0;
    margin-left: 160px;
  }

  .title {
    display: none;
  }

  .right-nav {
    margin-left: auto;
  }

  .left-section {
    margin-right: 48px;
  }

  .left-section::before {
    right: -24px;
  }
}

@media screen and (max-width: 743px) {
  .navbar {
    height: 60px;

    padding: 0 12px 0 0;
    margin-left: 67px;
  }

  .left-section {
    margin-right: 24px;
  }

  .left-section::before {
    height: 34px;

    right: -12px;
  }
}
