.sidebar {
  width: 280px;
  height: 100vh;
  background-color: var(--white);
  padding: 20px 12px 0 8px;
  position: fixed;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

.menu_dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.color_circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 16px;
  display: inline-block;
}

.menu_text {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  color: var(--gray);
}

.add_button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu_list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  height: 500px;
}

.menu_icon {
  font-size: 16px;
}

.menu_list_dashboard {
  font-size: 18px;
  color: var(--gray);
  padding: 12px;
}

.crown_icon {
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
}

@media (max-width: 1199px) {
  .sidebar {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 13px;
  }

  .menu_list_dashboard {
    font-size: 16px;
    padding: 8px 10px;
  }
}

@media (max-width: 743px) {
  .sidebar {
    width: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .color_circle {
    margin: 0;
  }

  .menu_text {
    display: none;
  }

  .logo {
    margin-bottom: 14px;
  }

  .logo img:nth-child(2) {
    display: none;
  }

  .dashboard_title {
    display: none;
  }

  .crown_icon {
    display: none;
  }
}
