.sidebar {
  width: 280px;
  height: 100vh;
  background-color: var(--white);
  padding: 20px 12px 0 8px;
  position: fixed;
  border-right: 1px solid var(--gray-medium);
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

.menu-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.color-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 16px;
  display: inline-block;
}

.menu-container {
  margin-bottom: 20px;
}

.menu-text {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  color: var(--gray);
}

.add-button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 20px 0;
}

.menu-icon {
  font-size: 16px;
}

.menu-list-dashboard {
  font-size: 18px;
  color: var(--gray);
  padding: 12px;
  line-height: 26px;
  font-weight: 500;
}

.dashboard-item {
  display: flex;
  align-items: center;
}

.crown-icon {
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
}

@media (max-width: 1199px) {
  .sidebar {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 13px;
  }

  .menu-list-dashboard {
    font-size: 16px;
    padding: 8px 10px;
  }
}

.pagination {
  margin-top: 20px;
}

@media (max-width: 743px) {
  .sidebar {
    width: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-text {
    display: none;
  }

  .color-circle {
    margin: 0 0 20px 0;
  }

  .logo {
    margin-bottom: 14px;
  }

  .logo svg:nth-child(2) {
    display: none;
  }

  .dashboard-title {
    display: none;
  }

  .crown-icon {
    display: none;
  }

  .pagination {
    display: none;
  }
}
