.title-container {
	width: 620px; 
	height: 477px;
	border-radius: 16px;
	padding: 32px 28px 32px 28px;
	margin-top: 22px;
  background-color: var(--white);
	gap: 10px;
}

.member-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.title {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	padding-right: 28px;
  padding-left: 28px;
}

.button-section {
	display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.page-info {
  margin-right: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.invite-button-section {
  margin-top: 3px;
  display: block;
}

.invite-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: var(--violet);
  width: 105px;
  height: 32px;
  border-radius: 4px;
  border-color: var(--violet);
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  color: var(--white);
  cursor: pointer;
}

.plus-button {
  width: 11.33px;
  height: 11.33px;
}

.sub-title {
	margin-top: 32px;
  margin-left: 28px;
  margin-bottom: 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: var(--gray-dark);
}

@media screen and (max-width: 1199px) {
	.title-container {
		width: 544px;
	}

  .pagination-button {
    display: none;
  }

	.sub-title {
		margin-top: 15px;
	}
}

@media screen and (max-width: 743px) {
	.title-container {
		width: 284px;
		height: 406px;
		border-radius: 8px;
		padding: 20px 16px 20px 16px;
	}

  .pagination-button {
    display: block;
  }

	.title {
		font-size: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: -30px;
	}

  .button-section { 
    flex-direction: column;
    gap: 0;
  }

  .page-info {
    margin-right: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  .invite-button {
    font-size: 12px;
    line-height: 18.71px;
  }

	.sub-title {
		margin-top: -55px;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
	}

  .invite-button-section {
    margin: 8px 0 0 auto;
  }

  .list {
    margin-top: 45px;
  }
}