.dashboard-container {
  max-width: 1022px;
  margin-left: 340px;
}

.dashboard-list {
  max-width: 1022px;
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 13px;
}

.color-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 16px;
  display: inline-block;
}

.crown-icon {
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.pagination {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;
}

.pagination-text {
  font-size: 14px;
  font-weight: 400;
  color: var(--black-medium);
}

.modal {
  background-color: var(--white);
  width: 584px;
  height: 344px;
  padding: 32px;
  border-radius: 10px;
}

.modal h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--black-medium);
}

.modal h3 {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 500;
}

.modal input {
  height: 50px;
  margin-top: 8px;
  border: 1px solid var(--gray-medium);
  width: 100%;
  padding: 0 16px;
  border-radius: 8px;
}

.modal input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: var(--black-medium);
}

.modal-input:focus {
  border: 1px solid var(--gray-medium);
}

.color-picker {
  margin-top: 16px;
  margin-bottom: 40px;
  display: flex;
  gap: 8px;
}

.color-circle:hover {
  cursor: pointer;
}

.color-picker .color-circle {
  width: 30px;
  height: 30px;
  border: none;
  margin: 0;
  position: relative;
}

.color-selected::after {
  content: '✓';
  font-size: 18px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-buttons {
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 1199px) {
  .dashboard-container {
    margin-left: 200px;
  }
  .dashboard-list {
    max-width: 504px;
    grid-template-columns: repeat(2, 1fr);
  }

  .pagination {
    max-width: 504px;
  }
}

@media screen and (max-width: 743px) {
  .dashboard-container {
    margin-left: 90px;
  }
  .dashboard-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .pagination {
    max-width: 260px;
  }

  .modal {
    width: 327px;
    height: 312px;
  }

  .modal h2 {
    font-size: 20px;
  }

  .modal h3 {
    font-size: 16px;
  }

  .modal input::placeholder {
    font-size: 14px;
  }
}
