.head {
  padding: 32px 28px;
  margin-top: 72px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--black-medium);
  margin-bottom: 32px;
}

.input-container {
  width: 100%;
  height: 40px;
  border: 1px solid var(--gray-medium);
  border-radius: 6px;
  padding: 7px 16px;
  display: flex;
  gap: 8px;
}

.input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-dark);
}

.input {
  border-style: none;
}

.input:focus {
  outline: none;
}

.invitation-container {
  margin-top: 24px;
  margin-left: 340px;
  background-color: var(--white);
  width: 1022px;
}

.table {
  width: 1022px;
  padding: 0 76px;
}

.table-head {
  width: 798px;
  display: flex;
  justify-content: space-between;
}

.table-title {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-dark);
  text-align: left;
  padding-bottom: 20px;
}

.table-body {
  width: 860px;
  display: flex;
  gap: 235px;
}

.table-content {
  font-size: 16px;
  font-weight: 400;
  color: var(--black-medium);
  margin-bottom: 30px;
}

.invitation-btn {
  display: flex;
  gap: 10px;
  margin-left: 40px;
  font-weight: 500;
}

@media screen and (max-width: 1199px) {
  .invitation-container {
    max-width: 504px;
    margin-left: 200px;
  }
}

@media screen and (max-width: 743px) {
  .invitation-container {
    max-width: 260px;
    margin-left: 90px;
  }
}
