.container {
  width: 712px;
  @media screen and (max-width: 1199px) {
    width: 100%;
  }
  @media screen and (max-width: 743px) {
    width: 100%;
    min-width: 300px;
  }
}

.box {
  padding: 20px;

  @media screen and (max-width: 1199px) {
    padding: 16px;
  }
  @media screen and (max-width: 743px) {
    padding: 16px 12px;
  }
}
